<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Funkin Fighters</title>
  <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav>
    <a href="/profile"><img id="logo" src="/assets/img/profileIcon.png" alt="face logo"/></a>
    <div class="navlink"><a id="logoutButton" href="/logout">Log out</a></div>
    <div class="centerLink">
      <div class="navlink"><span id="selected">Home</span></div>
      <div class="navlink"><a href="/game" id="gameButton">Game</a></div>
      <div class="navlink"><a href="/team" id="teamButton">Your Team</a></div>
    </div>
  </nav>
  <div id="homepage">
    <h1>Funkin Fighters</h1>
    <div id="teamExp" class="explain">
      <h1>Your Team</h1>
      <img src="/assets/img/home/team.jpg" alt="select" width="1330px">
      <article class="instruct">Before you start playing, you must create a team of characters. Your team must consist of 20 different characters. Use the search bar below to find characters based off of names. These characters range from nostalgic childhood heros, to creepy killers, to iconic indie games, to original characters, and even real life people. Click on their image to add them to the team. If you'd wish to remove a character from your team, click on their image in the "Your Team" box. Once you have 20 characters in your team, you're ready to start playing. </article>
    </div>
    <div id="otherExp" class="explain">
        <h1>Teams</h1>
        <img src="/assets/img/home/select.jpg" alt="select" width="1330px">
        <article class="instruct">You have the option of battling against a randomly generated team or the team of another actual user. If you want to fight a different team, then click on the "Find Another Team" button. Otherwise, click on "Play Game" to start.</article>
        <h3 style="text-align: center;">Types of Teams</h3>
        <div id="teamTypes">
          <div class="type">
            <h4>Bot Team</h4>
            <img src="/assets/img/home/robot.jpg" alt="select" width="665px">
          </div>
          <div class="type">
            <h4>Real Team</h4>
            <img src="/assets/img/home/opponent.jpg" alt="select" width="665px">
          </div>
        </div>
    </div>
    <div id="gameExp" class="explain">
        <h1>Game</h1>
        <h2>Hover over the info marks to learn about the different components</h2>
        <div class="infoMarkers">
          <img class="marker" id="i0" src="/assets/img/info.png" alt="select" width="25px">
          <img class="marker" id="i1" src="/assets/img/info.png" alt="select" width="25px">
          <img class="marker" id="i2" src="/assets/img/info.png" alt="select" width="25px">
          <img class="marker" id="i3" src="/assets/img/info.png" alt="select" width="25px">
          <img class="marker" id="i4" src="/assets/img/info.png" alt="select" width="25px">
          <img class="marker" id="i5" src="/assets/img/info.png" alt="select" width="25px">
          <img class="marker" id="i6" src="/assets/img/info.png" alt="select" width="25px">
          <img class="marker" id="i7" src="/assets/img/info.png" alt="select" width="25px">
          <img class="marker" id="i8" src="/assets/img/info.png" alt="select" width="25px">
        </div>
        <div class="infoMessages">
          <p class="info" id="m0">Your PFP</p>
          <p class="info" id="m1">Opponent PFP</p>
          <p class="info" id="m2">Remaining Players</p>
          <p class="info" id="m3">Remaining Players</p>
          <p class="info" id="m4">Character Name</p>
          <p class="info" id="m5">Character Image</p>
          <p class="info" id="m6">Roll Number</p>
          <p class="info" id="m7">Turn Indicator</p>
          <p class="info" id="m8">Roll Button</p>
        </div>
        <img src="/assets/img/home/game.jpg" alt="select" width="1250px">
        <h2>How to Play</h2>
        <ol id="instructions">
          <li>Both teams start with their first character.</li>
          <li>The game will determine who will go first through a randomizer</li>
          <li>Each memeber will roll a number. To roll a number, click on the Roll button when it is your turn.</li>
          <li>The player with the highest number keeps their character while the other one is eliminated from the rest of the game.</li>
          <li>In the event of a tie, each player will roll again. The first roller is determined once again by a randomizer</li>
          <img src="/assets/img/home/tue.jpg" alt="select" width="750px">
          <li>The winner of the last round will be the one to roll first.</li>
          <li>You play until there no characters left on any team.</li>
          <img src="/assets/img/home/jevil.jpg" alt="select" width="750px">
          <li>The player left standing is the winner.</li>
        </ol>
        <img src="/assets/img/home/winner.jpg" alt="select" width="750px">
    </div>
    <div id="profileExp" class="explain">
      <h1>Profile</h1>
      <img src="/assets/img/home/profile.jpg" alt="select" width="1250px">
      <article class="instruct">You can change your pfp and unlock premium mode in the profile page. Premium mode allows you to customize the application in any color that you like. You can also view your team and see the number of wins and losses throughout your time here.</article>
      <img src="/assets/img/home/premium.jpg" alt="select" width="1250px">
    </div>
  </div>
  <script type="module" src="/assets/homeBundle.js"></script>
</body>
</html>
